@{
    ViewBag.Title = "Equipe The Restaurant Beta";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p style="color:aquamarine">Sobre nós.</p>
<div class="row">
    <div class="col-md-4">
        <p style="color:whitesmoke">
            Começamos tudo isso para poder atingir as competencias da materia de ASP.NET
            e com auxilho do professor orientador estamos dando procedencia a uma ideia de PAP
            Para que isso seja possivel nossa equipe se dedica dia a pos dia estudando varias linguagens
            afim de no final do ano conseguir construir um app dessa aplicação web a qual vc esta podendo utilizar hoje
        </p>
        <img src="~/Util/800px-season-6-worlds-wallpaper-skt_gr57.jpg" />
        </div>
</div>
