@{
    ViewBag.Title = "Home Page";
}

<div >
    <h1>O que The Restaurante Beta pode lhé oferecer</h1>
    <p class="lead">Bem-Vindo ao prototipo de SaaS aqui voce podera buscar um restaurante e fazer sua reserva para uma melhor experiencia de vida
           Há diferentes Restaurantes esperando pela sua visita .
           Não perca tempo para se saciar e faz ja sua reserva.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Best Menu of World</h2>
        <p> o cardápio, ementa ou menu é a lista onde constam as opções (pratos, bebidas e vinhos) disponíveis para o cliente. 
        Um menu pode ser à la carte  ou table d'hôte. 
        Os itens disponíveis para o consumidor escolher podem estar 
        agrupados em várias categorias, dependendo da hora do dia ou do evento. Um cardápio de café da manhã no mundo ocidental 
        usualmente inclui ovos, torradas e/ou frutas. 
        Cardápios de almoço e jantar, em contrapartida, incluem itens de porções de comida e entradas.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Informe-se mais&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Como Trabalhamos</h2>
        <p>Tudo funciona apartir dessa plataforma
             que viabiliza o contato entre duas entidades para
                agregar os melhores prazeres da gastronomia até voce...</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Informe-se mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>O Prazer da Praticidade</h2>
        <p>Você pode ver o qual facil e pratico é se planejar para comemorar ou simplemente jantar em 
            um restaurante de qualquer pais atraves dessa plataforma virtual que lhe permite fazer reservas em qualquer
               estabelecimento gastronomico do mundo...</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Informe-se mais &raquo;</a></p>
    </div>
</div>